body{
    font-family: 'Roboto', sans-serif;
     color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
}


p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}


a{
    text-decoration: none;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header section */


.link-header{
    display: inline-block;
    padding: 24px 0 24px 0;
}

/* .header-container{
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
} */

.header{
    align-items: center;
    border: 1px solid #E7E9FC;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


.navigation-header{
    display: flex;
    align-items: center;

    
}


.first-item-heder .first-menu{
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.first-menu::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px; 
}


.first-item-heder{
    
}

.list-header{
    display: flex;
    gap: 40px;
    
}



.header-list-contacts {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.logo-item {
 font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
align-self: center;
margin-right: 76px;
}

span{
    font-family: "Raleway", sans-serif;
}

.logo-titel{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;

}


.logo-titel:active {
    color: #404BBF;
}


.link-header{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding: 24px 0 24px 0;
}

.menu-header-link {
    position: relative;
    color: #2E2F42;
    padding: 24px 0;

}

.link-header:focus,
.link-header:hover{
    color: #404BBF;
}



.address-header{
    font-style: normal;
    margin-left: auto;
}

.link-contacts{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-contacts:hover{
    color: #404BBF;
}

.link-contacts:focus{
    color: #404BBF;
}

/* section 1 */

.section-solutions {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.title-solutions{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
}

.button:hover {
    background: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}


.button{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        height: 56px;
        min-width: 169px;
        display: block;
        margin: auto;
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}


/* section 2 */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.section-webstudio{
    padding-top: 120px;
    padding-bottom: 120px;
}


.list-webstudio{
    display: flex;
    gap: 24px;
}

.item-webstudio{
    width: calc((100% - 72px) / 4);
}

.icon-webstudio{
     width: 64;
     height: 64;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
     background-color: #F4F4Fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 8px;
}
    




.title-webstudio{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}

.text-webstudio{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* section 3 */

.section-team{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-team { 
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 72px;
}

.title-section{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 8px;
}


 .item-team{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }


.title-team-member{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.text-team-img{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}


.list-team{
    display: flex;
    align-content: start;
    gap: 24px;
    
}


.team{
    padding-top: 32px;
    padding-bottom: 32px;
}

.icon-team{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-overlay{
    padding: 32px 0 32px 0;
    min-width: 232px;
}

.list-social-team{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.item-social-team{
    width: 40px;
    height: 40px;
    
}

.link-social-team{
    display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.item-social-team .link-social-team:hover {
    background-color: #404bbf;
}


.item-social-team .link-social-team:focus {
    background-color: #404bbf;
}

.icons-team{
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
}






/* section 4 */



.list-portfolio{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
}



.item-portfolio{
    width: calc((100% - 48px) / 3); 
}



.services{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-portfolio{
    font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 8px;
        margin-bottom: 72px;
    }

    .title-portfolio-app{
        font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 8px
            
            
    }

    .text-portfolio{
        font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            
    }


.logo-item{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
}

.preview{
    position: relative;
    overflow: hidden;
}

.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    padding: 40px 32px;
    background-color: rgba(77, 90, 229, 1);
    color: #F4f4FD;
    font-size: 16px;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}

.item-portfolio:hover .overlay-text{
    transform: translateY(0);
}

.item-portfolio:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.item-portfolio{
    cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-overlay{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}


/* section footer */

 .footer {
     background: #2E2F42;
     padding-top: 100px;
     padding-bottom: 100px;
 }
 


.footer-text{
   font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}


 .logo-footer  {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}


.logo-footer-span {
    color: #f4f4fd;
    display: inline-block;
}

.footer .container{
    display: flex;
    align-items: baseline;
}


.footer-first-overlay{
    margin-right: 120px;
}


.footer-social-text{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.list-social-footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.item-social-footer{
    width: 40px;
    height: 40px;
}

.link-social-footer{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer{
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}


.link-social-footer:hover { 
    background-color: #31d0aa;
}

.link-social-footer:focus {
    background-color: #31d0aa; 
}


.footer-subscribe{
    margin-left: auto;
}



.footer-form{
    display: flex;
    align-items: center;
    gap: 24px;
}

.text-subscribe{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}


 



.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #fff;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}

.footer-button:hover{
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send{
    width: 24px;
    height: 20px;
    fill: #ffffff;
    margin-left: 16px;
}


/* modal styles */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 10;
    /* opacity: 0;
    visibility: hidden; 
    pointer-events: none; */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .backdrop .is-open { 
    opacity: 1;
    visibility: visible; 
    pointer-events: auto;
   
} 


.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal{
    background: #fcfcfc;
    width: 408px;
    min-height: 584px;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    border-radius: 4px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms 
                cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-button{
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms 
                    cubic-bezier(0.4, 0, 0.2, 1), 
                    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close{
    fill: #ffffff;
    border: none;
    

}

.modal-button:hover,
.modal-button:focus {
background-color: #404bbf;
    border-color: #404bbf;
    border: none;
}


/* .modal-button:hover .icon-close {

    fill: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


.icon-close {
    fill: #2e2f42;
    width: 8px;
    height: 8px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
form .modal-field {
    margin-bottom: 8px;
}

form .modal-field:last-child {
    margin-bottom: 0;
}

/* .icon-close:hover,
.icon-close:focus {
    fill: #ffffff;
} */


.modal-field{
    margin-bottom: 16px;
        width: 100%;
        padding: 0;
        border: none;
}



 .privacy{
    margin-bottom: 24px;
        width: 100%;
        padding: 0;
        border: none;

}



.modal-title{
    max-width: 360px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    /* text-align: center; */
    color: #2e2f42;

}

.modal p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input-label {
    display: block;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 8px;
    width: 100%;
    line-height: 1.17;
    margin-bottom: 4px;
}

.modal-input{
    width: 100%;
    height: 40px;
    border-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.modal-input:focus{
    border-color: #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* border: 1px solid #4d5ae5; */
}

.modal-input:focus + .icon-input{
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.input-wrapper{
    position: relative;
}

.icon-input{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* .modal-field {
    margin-bottom: 16px;
    width: 100%;
        padding: 0;
        border: none; */


.modal-field-textarea{
    margin-bottom: 16px;
}



.modal-textarea{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    position: relative;

}

.modal-textarea:focus {
border-color: #4D5AE5;
}


.modal-textarea::placeholder{
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


.input-wrapper .modal-textarea{
   width: 100%;
}

.modal-checkbox-label{
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-size: 12px;
    /* display: flex; */
    align-items: center;
    margin-bottom: 24px;
}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-mark{
    border-radius: 2px;
    background-color: #404BBF;
    fill: #F4F4FD;
    border: 1px solid #404bbf;
    border: none;

}


  .modal-checkbox-mark{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: #fcfcfc;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

a{
    line-height: 133%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        padding-left: 4px;
}

.user-privacy-link{
    color: #4d5ae5;
}

.modal-submit-button{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    gap: 10px;
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





